PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/vidyasagar?retryWrites=true&w=majority
JWT_SECRET=apna_secret_key_yahan_likho_kuch_bhi_likh_sakte_ho
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
